<div id="About">
<h1>What is Populi</h1>

<h2>Populi is a new way to find candidates that you can believe in </h2>

We're a home for Democrats, Republicans, Independents and Third Party candidates. Any candidate who truly wishes to represent the interests of their constituency is welcome. On Populi you will be able to find candidates whose priorities match yours and either donate to their campaign or volunteer your time. Since our launch on June 5th, 2013, more than 4 candidates have used Populi to connect with more than 10 citizens across the CodingDojo classroom!

<h2>Candidates and their supporters work together to create a government that works.</h2>

Populi candidates know that Populi's users are their electorate. The Populi platform holds the candidates accountable to the users and opens lines of communication between them. 

<h2>Government doesn't start or end with the election</h2>

By the time election day comes around, citizens have already missed their best chance to participate in our democracy. Candidates can begin raising funds, gathering volunteers and communicating with their constituency early for help in the primaries. Citizens can follow the voting record and blogs of their Populi candidates after the election. Populi provides a year round, year after year feedback loop to create a government that responds to its citizens.

<h2>Backing a candidate is more than just throwing money at them</h2>

The goal of Populi is to connect users with candidates that they can believe in, not just the lesser evil. Candidates can see the results of their efforts on populi directly and know the benefits of providing feedback and support to the users and the causes that they believe in.

<h2>No reporting</h2>
Anyone can donate as much money as they want, either publicly or anonymously. This is because Populi is a for-profit company. Obviously, everyone here at the Populi office likes getitng a paycheck but profit is not our primary motive. It is the fuel that allows us to do our part to create a government of the people, by the people and for the people.
</div>