#footer {
	width:800px;
	margin-left:auto;
	margin-right:auto;
	padding: 0px 100px;
}

	#footer h2{
		text-align:center;
	}

	#footer a{
		text-decoration:none;
		font-weight:bold;
	}

#splash {
	border: 1px solid red;
	margin-top:20px;
	font-size:30px;
	padding-bottom:40px;
	text-align: center;
	width: 600px;
	margin-left: auto;
	margin-right:auto;
	text-shadow: 1px 1px #BBBBBB;
}
	#splash button{
		padding: 10px;
		font-size: 20px;
		background-color: blue;
		float:right;
	}
